p{
  font-family: montserrat;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  ;
}
.model{
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 30px;
}

.order{
  font-size: 25px;
}